.container {
    background-color: black;
    width: 252px;
    height: 355px;
    border: solid black 5px;
    align-self: center;
    border-radius: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInputArea {
    border: solid rgb(0, 62, 6) 10px;
}

.display {
    height: 40px;
    background-color: rgb(72, 72, 72);
    border: solid rgb(0, 62, 6) 10px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-align: end;
    margin: auto;
    font-size: 24px;
}

button {
    height: 50px;
    width: 50px;
    margin: 2.5px;
    border-radius: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    opacity: 80%;
}

button:hover {
    opacity: 100%;
}

.operator {
    color: white;
    background-color: blue;
}

.clearButton {
    color: white;
    background-color: crimson;
}

#equalsButton {
    width: 105px;
    background-color: green;
    color: white;
}

#percentButton {
    background-color: darkmagenta;
    color: white;
}